.pagination-container {
    display: flex;
    list-style-type: none;
}

.pagination-item {
    padding: 0 12px;
    height: 24px;
    text-align: center;
    margin: auto 1px;
    color: #18181b;
    display: flex;
    align-items: center;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.pagination-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.pagination-item.selected {
    background-color: rgba(0, 0, 0, 0.08);
    color: #18181b;
}

.pagination-item .arrow::before {
    position: relative;
    content: '';
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.12em solid rgba(0, 0, 0, 0.87);
    border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}

.pagination-item .arrow.left {
    transform: rotate(-135deg) translate(-50%);
}

.pagination-item .arrow.right {
    transform: rotate(45deg);
}

.pagination-item.disabled {
    pointer-events: none;
    color: rgba(0, 0, 0, 0.43);
    cursor: not-allowed;
}

.pagination-item.disabled .arrow::before {
    border-right: 0.12em solid rgba(0, 0, 0, 0.43);
    border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.pagination-item.disabled:hover {
    background-color: transparent;
    cursor: default;
}


@media (prefers-color-scheme: dark) {
    .pagination-item {
        color: white;
    }
    .pagination-item.selected {
        background-color: white;
        color: #18181b;
    }
    .pagination-item:hover {
        background-color: #717170;
    }
}

